<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Examples Index</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="<%= htmlWebpackPlugin.options.assets %>/bootstrap.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1>Examples Index</h1>
    <p><%= htmlWebpackPlugin.options.buildInfoLink %></p>

    <p>List of examples generated automatically from the <code>examples/</code> folder:</p>

    <div id="examples">
      <%= htmlWebpackPlugin.options.exampleIndex %>
    </div>
  </div>
</body>
</html>
